*.pyc
*.pth
*.bin
*.sbatch 
*.sqfs 
*.out 
backup*

*OUTPUT_MODELS*
*GENERATED_SAMPLES*
*FACE_DATASETS*
*RESULTS*
*Generated_Split*
*FR-Ready_Datasets*
*EXPERIMENTS*
*VALIDATION_DATASETS*
*CLASS_IMAGES*
*BACKUP*
*facenet_pytorch*
*images_during_training*
*Face_recognition_training*
*FR_DATASETS*
*FR_Features*
*FR_Results*
*.zip*
*Evaluation*
*Example*