*.pyc
*.pth
*.bin
*.sbatch 
*.sqfs 
*.out 
*.json*
*.pt*
*.pdf*
*.zip*

*backup*
*BACKUP*

*OUTPUT_MODELS*
*GENERATED_SAMPLES*
*FACE_DATASETS*
*RESULTS*
*Generated_Split*
*FR-Ready_Datasets*
*EXPERIMENTS*
*VALIDATION_DATASETS*
*CLASS_IMAGES*

*facenet_pytorch*
*images_during_training*
*Face_recognition_training*
*FR_DATASETS*
*Results*
*Features*

*Example*
*REC_EXP*
*eDifFIQA*

*cache*
*images*
b_*